<html>
    <head>
        <title>Package Manager</title>
        <script src="vue.js"></script>
        <meta charset="utf-8" />
        <style>
            body {
                font-size: 20px;
            }
            .txt {
                width: 500px;
                padding-left: 10px;
            }
            .link {
                padding-right: 5px;
            }
            .list-item {
                padding-left: 10px;
                padding-bottom: 5px;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <div v-if="mode === 'list'">
                <pkg-list v-bind:list="packages"></pkg-list>
            </div>
            <div v-if="mode === 'pkg'">
                <pkg-div v-bind:pkg="pkg"></pkg-div>
            </div>
        </div>
        <script src="handler.js"></script>
    </body>
</html>